@font-face {
    font-family: 'NBP Sydnie2 Scoreboard Regular';
    font-style: normal;
    font-weight: normal;
    src: local('NBP Sydnie2 Scoreboard Regular'), url('nbp-sydnie2-scoreboard-cufonfonts-webfont/sydsc_0.woff') format('woff');
    }

body {
    font-family: 'Source Code Pro', Arial, Helvetica, sans-serif;
}

h1 {
    text-align: center;
}
.container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.row {
    flex-direction: row;
    justify-content: center;
}

.playerInput {
    height: 75px;
    width: 75px;
    font-size: xx-large;
    margin: 20px;
    border: none;
    background-color:lightgoldenrodyellow;
    border-radius: 3px;
    box-shadow: 5px 5px 5px rgb(97, 97, 97);
}

.playerInput:hover {
    background-color: rgb(214, 214, 174);

}

.playerInput:active {
    transform: translateY(5px);
    box-shadow: 0px 1px 5px rgb(97, 97, 97);
}


img {
    max-height: 210px;
}

#vs {
   font-size: 3em;
}

#computerRound {
    height: 90px;
    width: 120px;
    border-style: solid;
    border-color:rgb(182, 181, 181);
    background-color: rgb(206, 206, 206);
    border-radius: 3px;
    margin: 15px;
    justify-content: center;
    font-size: 5em;
    position: relative;
    margin-top: -185px;
    z-index: -1;
    float: left;
}


#scoreboard {
    margin-top: 50px;
    
    font-family: 'NBP Sydnie2 Scoreboard Regular', Helvetica, sans-serif;
    font-size: 3em;
    color:goldenrod;
    justify-content: space-evenly;
}

.score {
    margin-bottom: 0px;
}

#finalScore {
    font-family: 'NBP Sydnie2 Scoreboard Regular', Helvetica, sans-serif;
    color:goldenrod;
    font-size: 1em;
    margin-top: 48px;
}

#newGame {
    border: none;
    border-radius: 5px;
    height: 50px;
    padding: 10px;
    margin-top: 20px;
    font-size: 1em;
    font-weight: bold;
    background-image: linear-gradient(rgb(211, 210, 210), rgb(189, 189, 189), gray);
    font-family: 'Source Code Pro', Arial, Helvetica, sans-serif;
}

#newGame:hover {
    background-image: linear-gradient(rgb(187, 187, 187), rgb(165, 165, 165), rgb(112, 112, 112));
    font-family: 'Source Code Pro', Arial, Helvetica, sans-serif;
}

#newGame:active {
    background-image: linear-gradient(gray,rgb(189, 189, 189),rgb(211, 210, 210));
    font-family: 'Source Code Pro', Arial, Helvetica, sans-serif;
}